; minimumテンプレートでスマートフォン向けsiteを書き出す設定。

[preset.0]

name="Web"
platform="Yurutto Website"
runnable=true
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../../tmp/aa-invaders/site/index.html"
script_export_mode=2

[preset.0.options]

html/focus_canvas_on_start=true
yweb/site/enabled=true
yweb/site/config="res://yweb-site.json"
yweb/site/base_url="http://127.0.0.1:49184"
yweb/site/title="顔文字 AA INVADERS"
yweb/site/description="顔文字の自機で独自AAの侵入者を迎撃するスマートフォン向け2Dゲーム。"
yweb/site/locale="ja_JP"
yweb/site/favicon=""
yweb/routing/mode=0
yweb/font/matching_webfont=true
yweb/ogp/image=""
yweb/ogp/alt="顔文字とAA侵入者のシューティングゲーム"
yweb/ogp/frame=120
vram_texture_compression/for_desktop=true
yweb/font/avoid_canvas_theme_font=true
