; minimum runtimeでスマートフォン向けsiteを書き出す設定。

[preset.0]

name="Web"
platform="ゆるっとWeb"
runnable=true
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../../tmp/aa-invaders/site/index.html"
script_export_mode=2

[preset.0.options]

html/focus_canvas_on_start=true
gdweb/site/enabled=true
gdweb/site/config="res://gdweb-site.json"
gdweb/site/base_url="http://127.0.0.1:49184"
gdweb/site/title="顔文字 AA INVADERS"
gdweb/site/description="顔文字の自機で独自AAの侵入者を迎撃するスマートフォン向け2Dゲーム。"
gdweb/site/locale="ja_JP"
gdweb/site/favicon=""
gdweb/routing/mode=0
gdweb/font/matching_webfont=true
gdweb/ogp/image=""
gdweb/ogp/alt="顔文字とAA侵入者のシューティングゲーム"
gdweb/ogp/frame=120
vram_texture_compression/for_desktop=true
gdweb/font/avoid_canvas_theme_font=true
